$main-text-color: #333333;
$background-light-color: #f4f4f9;
$background-hover-light-color: #e4e4e9;
$white-color: #ffffff;
$violet-color: #6534ff;
$violet-hover-color: #4e29c9;
$border-light-gray-color: #dddddd;
